body {
    margin: 0;
    font-family: 'Roboto Mono', monospace, sans-serif;
    background-color: rgb(72, 67, 110);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    text-transform: uppercase;
}

.left-side {
    display: flex;
}

.navbar > .left-side > a {
    margin-right: 20px;
    font-size: 0.9em;
}

.navbar-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: border-bottom 0.5s;
    transition: color 0.5s;
}

.navbar-link:hover {
    border-bottom: 1px solid black;
    color: black;
}

.brand,
.navbar-link,
.profile-content h1,
.portfolio-item:hover .subtitle, 
.portfolio-item:hover .description {
    color: rgb(50, 236, 26);
}

/* Portfolio styles */

.portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 376px) and (max-width: 775px) {
    .portfolio-items {
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 375px) {
    .portfolio-items, 
    .content-about {
        grid-template-columns: 1fr;
  }
}

.portfolio-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio-background-img {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s;
}

.img-text {
    position: absolute;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.subtitle, 
.description {
    transition: 0.5s;
    font-weight: 600;
    color: transparent;
}

.img-darken {
    transition: 0.8s;
    filter: brightness(10%);
    transform: rotateY(180deg);
}

.active-nav-link {
    border-bottom: 1px dashed black;
    color: black;
}

/* About page styles */
.profile-img {
    width: 100%;
    max-width: 600px;
}

.profile-content {
    padding: 30px;
}